body {
  background-color: black;
}

.titulo {
  color: rgb(255, 0, 0);
  font-size: 100px;
  background-color: #ffff;
}

.subtitulo {
  color: rgb(253, 253, 253);
  font-size: 50px;
}

.texto {
  color: rgb(253, 253, 253);
  font-size: 25px;
}

.borde {
  border: 3px solid red;
}

#logo {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#FotoDesc {
    position: relative;
    left: 1100px;
    bottom: 250px;
}

.amarillo {
  color: #ff0;
}
